[data-theme="dark"] {
    --bg-color: #111213;
    --font-color: #f3f3f3;
}
[data-theme="light"] {
    --bg-color: #f3f3f3;
    --font-color: #111213;
}

* {
    box-sizing: border-box;
    margin: 0;
    user-select: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
}

#app {
  max-height: 100vh;
}